@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@400;500;700;900&family=Outfit:wght@100;300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

picture {
    line-height: 0;
}

:root {
    --accent-color: hsl(24deg 56% 63%);
}

.img-header-mobile {
    width: 100%;
    object-fit: contain;
}

.header .content {
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.title-header {
    font-family: "Big Shoulders Display", sans-serif;
    font-weight: 900;
    font-size: 4em;
}

.paragraph-header {
    font-family: Outfit, sans-serif;
    font-weight: 100;
    font-size: 1.1em;
}

.paragraph-header strong {
    font-weight: 300;
}

.btn-our-location {
    box-sizing: content-box;
    font-family: "Big Shoulders Display", sans-serif;
    font-weight: 700;
    letter-spacing: 0.35em;
    text-align: left;
    padding-left: 20px;
    font-size: 0.9em;
    border: none;
    position: relative;
    background-color: #000;
    color: #fff;
    height: 60px;
    width: 150px;
    align-self: flex-start;
}

.btn-our-location::after {
    content: "";
    background: var(--accent-color) url("svg/icon-arrow-right.svg") center / 20% no-repeat;
    position: absolute;
    right: -50px;
    top: 0;
    width: 50px;
    height: inherit;
}

.btn-our-location:hover {
    background-color: var(--accent-color);
    cursor: pointer;
    color: #000;
}

.btn-our-location:hover::after {
    background-color: #000;
}

.main {
    padding: 25px;
    display: flex;
    flex-direction: column;
}

[class^="mobile"] {
    width: 100%;
    margin-bottom: 25px;
}

[class^="block-main"] {
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.block-main-first {
    background-color: hsl(0deg 0% 80%);
    color: #000;
    margin-bottom: 25px;
}

.block-main-last {
    background-color: #000;
    color: #fff;
}

.title-block {
    font-family: "Big Shoulders Display", sans-serif;
    font-weight: 900;
    font-size: 3em;
}

.paragraph-block {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-size: 1.1em;
}

[class^="tablet-grid"],
[class^="desktop-grid"] {
    display: none;
}

.footer {
    width: 100%;
    background-color: #000;
    color: #fff;
    padding: 50px 75px 50px 25px;
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.title-footer {
    font-family: "Big Shoulders Display", sans-serif;
    font-weight: 900;
    font-size: 2.5em;
}

.paragraph-footer {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-size: 1.1em;
}

.social-container {
    display: flex;
    flex-direction: row-reverse;
    align-self: flex-start;
    gap: 15px;
}

[class$="icon"] {
    width: 40px;
    height: 40px;
}

[class$="icon"]:hover {
    cursor: pointer;
    fill: var(--accent-color);
}

@media screen and (min-width: 501px) and (max-width: 1023px) {
    body {
        margin: 0;
    }

    [class^="tablet-grid"] {
        display: block;
    }

    [class^="mobile-grid"],
    [class^="desktop-grid"] {
        display: none;
    }
}

@media screen and (min-width: 1024px) {
    .img-header-tablet {
        display: none;
    }

    [class^="tablet-grid"] {
        display: none;
    }
}